<p class="text-center text-muted">© Copyright 2023 Ali Alkhiame, Ilona Breidt</p>
<p class="text-center text-muted">Datenbanktechnologien SoSe23: Franziska Barckmann</p>
<p class="text-center text-muted">Hochschule Fulda</p>
